
*{
    margin: 0%;
    background: #F1F0D4;

    
}

.banner{
    display: flex;
    padding: 0;
    background: #D58FF0;
    height: 50px;
    width: 100% ;
    
}


.icone1{
    height: 50px;
    width: 50px;
    background-color: #D58FF0;
}
.nome1{
    margin-left: 10px;
    margin-top: 17px;
    font-family: 'Dancing Script', cursive;
    background-color: #D58FF0 ;
    color: rgba(22, 21, 21, 0.938);
}
.sobre{
  text-decoration: none;
  font-family: 'Dancing Script' ;
  font-size: 20px;
  color: black;
  margin-left: 17%;
  margin-top: 17px;
  background-color: #D58FF0;
}
.menu{
  box-shadow: none;
  border: none;
  background-color: #D58FF0;
}
  .menu1img{
    width: 44px;
    background-color: #D58FF0;
  }
   .menu1 {
    background-color: #D58FF0;
    position: relative;
    display: inline-block; 
    position: absolute;
    left: 94%;
  
}
      .menu1 .menu1-text {
        visibility: hidden;
        display: table-column;
        width: 150px;
        background-color: #BD5E8F;
        padding: 6px ;
        border-radius: 6px;
        position: absolute;
        right: 20%;
        top: 50px;
        box-shadow: #8A1C55 2px 2px 3px;
  
  }
  
      .menu1:hover .menu1-text {
        visibility: visible;

  }
.numero{
  background-color: #BD5E8F;
}
  .numeroicon{
    background-color: #BD5E8F;
  }
.instagram{
  background-color: #BD5E8F;
}
  .instagramicon{
    background-color: #BD5E8F;
  }

 .cadastro{
    margin-right: 30px;
    background-color: #BD5E8F;
    border: none;
    
 }
  .cadastroicon{
    background-color: #BD5E8F;
  }
  .cadastro:hover{
    cursor: pointer;
  }

.Qmss{
 
  margin-left: 11%;
  margin-top: 3%;
  font-family:  'Dancing Script', cursive;
}
.restaurante{
 
  border: solid #BD5E8F 2px;
  border-radius: 50px;
  margin-left: 30px;
  margin-top: 2px;
  width: 300px;
  height: 200px;
  box-shadow: #737265 2px 3px 3px;
  padding: none;
}
.teste{
  border-radius: 30px;
  width: 500px;
  height: 250px;
  
}
.QmssText{
  
  font-family:  'Dancing Script', cursive;;
}