
*{
    margin: 0%;
    background: #F1F0D4;
    
}

.banner{
    display: flex;
    padding: 0;
    background: #D58FF0;
    height: 50px;
    width: 100% ;
    
}

.icone1{
    height: 50px;
    width: 50px;
    background-color: #D58FF0;
}
.nome1{
    margin-left: 30px;
    margin-top: 8px;
    font-family: 'Dancing Script', cursive;
    background-color: #D58FF0 ;
    color: rgba(22, 21, 21, 0.938);
}
.menu{
  box-shadow: none;
  border: none;
  background-color: #D58FF0;
}
  .menu1img{
    width: 44px;
    background-color: #D58FF0;
  }
   .menu1 {
    background-color: #D58FF0;
    position: relative;
    display: inline-block; 
    position: absolute;
    left: 94%;
  
}
      .menu1 .menu1-text {
        visibility: hidden;
        display: table-column;
        width: 150px;
        background-color: #BD5E8F;
        padding: 6px ;
        border-radius: 6px;
        position: absolute;
        right: 20%;
        top: 50px;
        box-shadow: #8A1C55 2px 2px 3px;
  
  }
  
      .menu1:hover .menu1-text {
        visibility: visible;

  }
.numero{
  background-color: #BD5E8F;
}
  .numeroicon{
    background-color: #BD5E8F;
  }
.instagram{
  background-color: #BD5E8F;
}
  .instagramicon{
    background-color: #BD5E8F;
  }

 .cadastro{
    margin-right: 30px;
    background-color: #BD5E8F;
    border: none;
    
 }
  .cadastroicon{
    background-color: #BD5E8F;
  }