
*{
  margin: 0%;
  background: #F1F0D4;

  
}

.banner{
  display: flex;
  padding: 0;
  background: #D58FF0;
  height: 60px;
  width: 100% ;
  
}

.icone1{
  height: 60px;
  width: 60px;
  background-color: #D58FF0;
}

.nome1{
  font-size: 35px;
  margin-left: 10px;
  margin-top: 17px;
  font-family: 'Dancing Script', cursive;
  background-color: #D58FF0 ;
  color: rgba(22, 21, 21, 0.938);
}
.sobre{
text-decoration: none;
font-family: 'Dancing Script' ;
font-size: 35px;
margin-left: 6%;
margin-top: 17px;
background-color: #D58FF0;
}
.contato {
text-decoration: none;
font-family: 'Dancing Script' ;
font-size: 35px;
margin-left: 2%;
margin-top: 17px;
background-color: #D58FF0;
}
.menu{
box-shadow: none;
border: none;
background-color: #D58FF0;
}
.menu1img{
  width: 55px;
  background-color: #D58FF0;
}
 .menu1 {
  background-color: #D58FF0;
  position: relative;
  display: inline-block; 
  position: absolute;
  left: 95%;

}
    .menu1 .menu1-text {
      visibility: hidden;
      display: table-column;
      width: 150px;
      background-color: #BD5E8F;
      padding: 6px ;
      border-radius: 6px;
      position: absolute;
      right: 20%;
      top: 50px;
      box-shadow: #8A1C55 2px 2px 3px;

}

    .menu1:hover .menu1-text {
      visibility: visible;

}
.numero{
background-color: #BD5E8F;
}
.numeroicon{
  background-color: #BD5E8F;
}
.instagram{
background-color: #BD5E8F;
}
.instagramicon{
  background-color: #BD5E8F;
  color: black;
  background-color: #BD5E8F;
  border: none;
 } 
.cadastro{
 background-color: #BD5E8F;
 border: none;
}
.cadastroicon{
  background-color: #BD5E8F;
}
.cadastro:hover{
  cursor: pointer;
}
.Qms{
margin-top: 35px;
}

.img{ 
margin-top: 5px;
border-radius: 30px;
margin-left: 30px;
width: 450px;
top: 250px;
display: table-cell;
float: left;
}

.restaurante{
border: solid #BD5E8F 2px;
border-radius: 50px;
width: 400px;
height: 300px;
margin-left: 30px;
box-shadow: #737265 2px 3px 3px;
padding: none;
}

.qs{
margin-left: 28%;
font-family: 'Dancing Script', cursive;
margin-top: 30px;
}

.descricao{

margin-right: 20% ;
font-size: 20px;
font-family: 'Crimson Text', serif; 
}